.search {
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: auto;

        .logo {
            width: 20%;

            img {
                width: 80%;
            }
        }

        .search-box {
            display: flex;
            // justify-content: end;
            width: 80%;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            align-items: center;

            svg {
                width: 5%;
                text-align: center;
                opacity: 0.5;
                font-size: 24px;
            }

            input {
                width: 100%;
                padding: 10px;
                border: none;
                outline: none;
            }

            span {
                width: 20%;
                opacity: 0.5;
                border-left: 2px solid rgba(0, 0, 0, 0.1);
                padding: 10px;
            }
        }

        .icon {
            width: 20%;
            display: flex;
            justify-content: end;

            svg {
                width: 40px;
                height: 40px;
                line-height: 50px;
                background: #f3f5f9;
                margin-left: 20px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
}