.header {
    padding: 10px 0;

    p {
        font-size: 14px;
    }

    .headerTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: auto;

        .logo {
            width: 20%;

            img {
                width: 80%;
            }
        }

        .searchBox {
            display: flex;
            width: 55%;
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            align-items: center;
            background-color: #fff;

            svg {
                width: 5%;
                text-align: center;
                opacity: 0.5;
                font-size: 24px;
            }

            input {
                width: 100%;
                padding: 10px;
                border: none;
                outline: none;
            }

            span {
                width: 20%;
                opacity: 0.5;
                border-left: 2px solid rgba(0, 0, 0, 0.1);
                padding: 10px;
            }
        }

        .icon {
            width: 20%;
            display: flex;
            justify-content: flex-end;

            .cart {
                display: flex;

                .history {
                    margin-left: 5px;
                    span{
                        text-align: center;
                    }
                }
            }

            a {
                background: rgba(255, 172, 10, .6);
                display: flex;
                text-decoration: none;
                color: #333;
                align-items: center;
                padding: 8px 10px;
                border-radius: 4px;

                &:first-child {
                    margin-right: 5px;
                }
                span {
                    font-size: 14px;
                }
                svg {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
            }
        }
    }

    .headerMain>div {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        padding: 0 10px;

        .mainMenu {
            display: flex;
            justify-content: space-between;
            margin: 0 -10px 0;
            padding-top: 10px;

            li {
                list-style: none;

                a {
                    display: flex;
                    text-decoration: none;
                    color: #2c2c2c;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}