.donhangContainer{
    .header{
        display: flex;
        padding: 4px;
        h3{
            margin-right: 2rem;
        }
    }

    .listItem{
        height: auto;
        width: 70%;
        background-color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

