.donhangContainer{
    .header{
        display: flex;
        padding: 4px;
        border-bottom: 1px solid #ccc;
        margin-right: 10%;
        h3{
            margin-right: 2rem;
        }
    }

    .listItem{
        height: auto;
        width: 90%;
        // background-color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

