.homeSlide {
    width: 90%;
    margin: auto;

    .container {

        .slickSlider {
            position: relative;
            display: block;
            box-sizing: border-box;
            user-select: none;
            padding-top: 30px;

            &:hover {
                .controlBtn {
                    .prev {
                        opacity: 1;
                    }

                    .next {
                        opacity: 1;
                    }
                }
            }

            .controlBtn {

                .prev {
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    width: 32px;
                    height: 50px;
                    line-height: 60px;
                    background-color: rgba(0, 0, 0, .18);
                    transform: 0.5s;
                    z-index: 5;
                    border: none;
                    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .09);
                    opacity: 0;

                    &:hover {
                        background-color: rgba(0, 0, 0, .32);
                        color: white;
                        cursor: pointer;
                    }

                    svg {
                        font-size: 24px;
                        color: #fff;
                        display: flex;
                        margin: auto;
                    }
                }

                .next {
                    position: absolute;
                    top: 50%;
                    right: 0%;
                    width: 32px;
                    height: 50px;
                    line-height: 60px;
                    background-color: rgba(0, 0, 0, .18);
                    transform: 0.5s;
                    z-index: 5;
                    border: none;
                    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .09);
                    opacity: 0;

                    &:hover {
                        background-color: rgba(0, 0, 0, .32);
                        color: white;
                        cursor: pointer;
                    }

                    svg {
                        font-size: 24px;
                        color: #fff;
                        display: flex;
                        margin: auto;
                    }
                }
            }

            .boxSlider {
                display: flex !important;
                justify-content: center;
                background-color: antiquewhite;
                height: 350px;

                .left {
                    padding: 20px;

                    h1 {
                        font-size: 45px;
                        line-height: 55px;
                        margin: 50px 0 20px 0;
                    }

                    p {
                        margin: 20px 0;
                    }

                    .btnPrimary {
                        background: #e94560;
                        padding: 13px 40px;
                        font-weight: bold;
                        color: #fff;
                        border-radius: 5px;
                        border: none;
                    }
                }

                .right {
                    img {
                        display: block;
                        height: 460px;
                        width: 300px;
                    }
                }
            }

            ul {
                bottom: 0px;
                display: block;
                width: 100%;
                padding: 0;
                list-style: none;
                text-align: center;

                button::before {
                    font-size: 10px;
                }
            }
        }
    }
}

// width: 0.5rem;
//     height: 0.5rem;
//     border-radius: 50%;
//     display: inline-block;
//     cursor: pointer;
//     opacity: 1;
//     border: 1px solid hsla(0,0%,53.7%,.4);
//     background-color: hsla(0,0%,100%,.4);