.loadingContainer {
    margin: auto;
}

.loadingContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
    background-color: white;
    opacity: .65;
}

.loadingMain {
    display: flex;
    flex-direction: column;
    width: 100%;

    /* Nếu dùng align items: center cho loading-man thí không cần đoạn này */
    img {
        width: 320px;
        height: 211px;
        margin: auto;
    }

    h4 {
        text-align: center;
    }
}